<div class="modal-header bg-miel-teal text-white py-2 border-secondary">
    <h6 class="modal-title fw-bold">
        {{ materiaAEditar ? 'Editar Materia' : 'Nueva Materia' }}
    </h6>
    <button type="button" class="btn-close btn-close-white" (click)="activeModal.dismiss('Cierre forzado')"></button>
</div>

<div class="modal-body bg-dark text-white">
    <form [formGroup]="formAlta">
        <div class="mb-3">
            <label class="form-label small fw-bold">Nombre</label>
            <input type="text" 
                   class="form-control form-control-sm bg-dark text-white border-secondary shadow-none" 
                   formControlName="nombre" 
                   placeholder="Ej: Base de Datos"
                   required>
        </div>
        
        <div class="row g-2 mb-0">
            <div class="col-6">
                <label class="form-label small fw-bold">Código</label>
                <input type="text" 
                       class="form-control form-control-sm bg-dark text-white border-secondary shadow-none" 
                       formControlName="codigo" 
                       placeholder="Ej: 2633">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer border-secondary bg-dark">
    <button type="button" 
            class="btn btn-teal btn-sm px-4" 
            (click)="guardar()" 
            [disabled]="formAlta.invalid">
        {{ materiaAEditar ? 'Guardar Cambios' : 'Aceptar' }}
    </button>
</div>