
<header class="sticky-top shadow-sm">
    <nav class="navbar-miel-green">
        <div class="d-flex flex-wrap justify-content-between justify-content-md-start gap-1 gap-md-2 px-2 px-md-3">
   
            <div class="text-teal text-white cursor-pointer px-2 py-2" (click)="abrirModalAlta()">
                <i class="fa fa-plus"></i>
                <span class="d-none d-sm-inline ms-1">Alta Materia</span>
            </div>

            <div class="text-teal text-white cursor-pointer px-2 py-2" (click)="iniciarImportacion()">
                <i class="fa-solid fa-file-import"></i>
                <span class="d-none d-sm-inline ms-1">Importar JSON</span>
            </div>
        </div>
    </nav>
</header>